$content-width: 1440px;
$search-blockwidth: 375px;
$menu-bu-right-space: 10px;
$text-color: #FFFFFF;
$default-font-size: 1.5rem;

$big-width: 1128px;
$tablet-width: 768px;
$mobile-width: 375px;