.container {
    width: $content-width;
}

button {
    opacity: 0.7;
}

body {
    background-image: url(../img/5.gif);
    //background-image: url(../img/kaguya.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    //background-size: cover;
    font-size: $default-font-size;
    color: $text-color;
    text-shadow: 2px 2px 2px #292929;

    @include media-big {
        font-size: 1.3rem;
    }
    
    @include media-tablet {
        font-size: 1.2rem;
    }

    @include media-mobile {
        font-size: 1.2rem;
    }
}

p {
    padding: 0;
    margin: 0;
}

.panel {
    background: rgba(128, 128, 128, .7);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 100%;
}

.subPanel {
    background: rgba(128, 128, 128, .7);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    padding-right: 70px;
    

    @include media-big {
        text-align: center;
        margin-right: 0px;
    }
    @include media-tablet {
        text-align: center;
    }

}

.subPanel:last-child {
    margin-right: 0;
}

