.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-tablet {
        display: block;
        padding-bottom: 0;
    }

    @include media-mobile {
    
    }
}